/* Make the invisible visible */

* {
  border: thin red solid;
}

.box {
	height: 200px;
	background-color: lightgray;
}

.menu {
	float: left;
	width: 33%;
}

.button {
	background-color: blue;
	color: white;
	border-radius: 20px;
	height: 30px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 150px;
}

.row {
	clear:both;
}

.ss1 {
	float:right;
	width:66%;
}

.desc1 {
	float:left;
	width:33%;
}

.ss2 {
	float:left;
	width:66%;
}

.desc2 {
	float:right;
	width:33%;
}

.botmenu {
	float:left;
	width:25%;
}





